theme = "solarized-dark"
icons = "awesome"

## [[block]]
## block = "music"
## buttons = ["prev", "play", "next"]
## max_width = 75

[[block]]
block = "net"
device = "wlp2s0"
# format = "{ssid} {signal_strength} {ip} {speed_down} {speed_up}"
format = "{ssid} {signal_strength} {speed_down} {speed_up}"
interval = 5
use_bits = false

[[block]]
block = "battery"
interval = 10
format = "{percentage}% {time}"

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mup}%"
format_swap = "{SUp}%"

[[block]]
block = "cpu"
interval = 5

[[block]]
block = "load"
interval = 5
format = "{1m}"

[[block]]
block = "sound"

[[block]]
block = "xrandr"
resolution = true

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"
